@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
/*---------------------------------HOMEPAGE.PHP-------------------------*/
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.hhead{
    background-color: lightgreen;
    flex: 1;
    display: flex;
}
.profile{
    background-color: magenta;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header{
    background-color: lightblue;
    flex: 5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.header h2{
    margin-left: 20px;
}
.hbody{
    background-color: coral;
    flex: 11;
    display: flex;
    justify-content: center;
    align-items: center;
}
.oversched{
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 80%;
}
.logo{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    .header h2{
        margin-left: 20px;
        font-size: 30px;
    }
    .header{
        flex: 7;
    }
}
@media only screen and (min-width: 1000px) {
    .oversched{
        width: 70%;
    }
}




/*---------------------------------ACCOUNT.PHP-------------------------*/
.abody{
    background-color: coral;
    flex: 11;
    display: flex;
    flex-direction: column;
}
.abody1{
    background-color: gray;
    flex: 2;
    display: flex;
    flex-direction: column;
}
.acc-pic{
    background-color: lightgoldenrodyellow;
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.afaculty{
    background-color: pink;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.abody2{
    background-color: green;
    flex: 4;
    display: flex;
    flex-direction: column;
}
.aemail{
    background-color: magenta;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.aemail1{
    background-color: red;
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.aemail1 h3, .aphone1 h3, .aemail2 p, .aphone2 p{
    margin-left: 20px;
}
.aemail2 p, .aphone2 p{
    font-size: 20px;
}
.aemail2{
    background-color: greenyellow;
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.aphone{
    background-color: yellow;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.aphone1{
    background-color: red;
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.aphone2{
    background-color: green;
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.aempty{
    background-color: black;
    flex: 3;
}
.back-btn{
    width: 25px;
    height: 25px;
}
.back-btn:hover{
    filter: invert(99%) sepia(1%) saturate(953%) hue-rotate(155deg) brightness(115%) contrast(100%);
}
.instruc-pic{
    height: 120px;
    width: 120px;
    border-radius: 60px; 
}

@media only screen and (min-width: 768px) {
    .instruc-pic{
        height: 200px;
        width: 200px;
        border-radius: 100px; 
    }
    .afaculty h2{
        font-size: 30px;
    }
    .aemail2 p, .aphone2 p{
        font-size: 25px;
    }
    .aemail1 h3, .aphone1 h3{
        font-size: 22px;
    }
}

@media only screen and (min-width: 1000px) {
    .abody1{
        flex: 3;
    }
}





/*---------------------------------ADMINLOGIN.PHP-------------------------*/


.adminbody{
    flex: 5;
    background-color: cyan;
    display: flex;
    flex-direction: column;
}
.admbody{
    background-color: pink;
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.adminlogin{
    width: 90%;
    height: 90%;
    background-color:aqua;
    display: flex;
    flex-direction: column;
}
.adlogheader, .adinput1, .adinput2, .adinput3{
    flex: 1;
    border-bottom: 1px solid;
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
}

.username-icon, .password-icon{
    background-color: lightsalmon;
    width: 80%;
    height: 65%;
    border-radius: 5px;
    display: flex;
}
.user-icon, .pass-icon{
    background-color: gray;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pass-icon img{
    height: 30px;
    width: 30px;
    cursor: pointer;
}
.user-icon img{
    height: 27px;
    width: 27px;
    cursor: pointer;
}
.user-input, .pass-input{
    background-color: lightblue;
    flex: 4;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.user-input input, .pass-input input{
    height: 90%;
    border: none;
    margin-left: 10px;
    width: 100%;
    text-indent: 10px;
}
.admlogin{
    width: 80%;
    height: 65%;
    border: none;
    color: white;
    font-size: 22px;
    font-weight: bold;
    background-color: #269934;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.admlogin:hover{
    transition: 0.3s;
    background-color: #38E54D;
}
.admfooter{
    background-color: coral;
    flex: 1;
}
.adminheader{
    flex: 1;
    /* background-color: red; */
    display: flex;
}
.adbanner{
    /* background-color: yellow; */
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.psu-banner{
    width: 100%;
    height: 80px;
    filter: contrast(120%);
    margin-left: -10px;
}

@media only screen and (min-width: 768px) {
    .adlogheader h2{
        font-size: 40px;
    }
    .psu-banner{
        width: 400px;

    }
    .user-input input, .pass-input input{
        font-size: 25px;
        text-indent: 15px;
    }
    .admlogin{
        font-size: 25px;
    }
    .adminlogin{
        width: 75%;
        height: 80%;
        
    }
  
}


@media only screen and (min-width: 1000px) {
    .adminlogin{
        width: 30%;
    }
    .user-input input, .pass-input input{
        font-size: 20px;
        text-indent: 15px;
    }
    .psu-banner{
        width: 30%;
    }
    .adlogheader h2{
        font-size: 30px;
    }
}



/*---------------------------------ADMINHOMEPAGE.PHP-------------------------*/

.adhomeheader{
    /* background-color: coral; */
    /* background: linear-gradient(45deg, #feb101, #feb707, #feb707, #fed722, #ffdc2a, #fee837, #feef40 ); */
    background: url(img/psu-header.png);
    background-position: center;
    background-size: cover;
    flex: 1;
    display: flex;
}
.adlogo{
    /* background-color: red; */
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-right: 1px solid; */
}
.adlogo img{
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.adlogo img:hover{
    transition: 0.3s;
    filter: brightness(90%);
}
.adtab{
    /* background-color: #5361a4; */
    flex: 4;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #ffffff;
}
.adtab h2{
    margin-left: 10px;
}
.adhomebody{
    /* background-color: lightgreen; */
    flex: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('https://the-post-assets.sgp1.digitaloceanspaces.com/2022/06/CAMPUS-2-JUNE-24.png');
    background-size: cover;
    background-position: center;
}
.adsched{
    width: 90%;
    height: 80%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
}
.adinshead{
    background-color: #80808099;
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.adinshead h3{
    margin-left: 10px;
}
.adinstructor{
    background-color: #ffffff99;
    flex: 9;
    overflow: hidden;
    overflow-y: scroll;
}
/* ::-webkit-scrollbar{
    width: 4px;
}
::-webkit-scrollbar-thumb{
    background: gray;
    border-radius: 10px;
} */
.adhomefooter{
    background-color: #4e588c;
    /* background: url(img/psu-footer.png);
    background-size: 350px 60px; */
    background-position: center;
    flex: 1;
    display: flex;
}
.footer-1{
    /* background-color: gray; */
    flex: 2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 13px;
}
.footer-1 p{
    font-family: 'Playball', cursive;
    margin-left: 20px;
    color: white;
}
.footer-2{
    /* background-color: coral; */
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 13px;
}
.footer-2 a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
}
.footer-2 a:hover{
    transition: 0.5s;
    color: #808080;
}
.footer-2 img{
    height: 15px;
    width: 15px;
    margin-right: 5px;
}
.adlogo .links{
    display: flex;
    gap: 20px;
    display: none;
}
.adlogo .links li{
    list-style: none;
}

.adlogo .links li a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
}
.adlogo .links li a:hover{
    color: gold;
}

.dropdown-menu{
    background-color: #00000099;
    position: absolute;
    top: 55px;
    left: 10px;
    width: 200px;
    border-radius: 10px;
    overflow: hidden;
    display: none;

}
.open{
    display: block;
    transition: 1s;
}
.dropdown-menu .links{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.dropdown-menu .links li{
    padding: 0.5rem;
}
.dropdown-menu .links li:hover{
    color: white;
    background-color: #00000099;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 768px) {
    .adlogo img{
        width: 60px;
        height: 60px;
    }
    .adtab h2{
        font-size: 25px;
    }
    .adinshead h3{
        font-size: 20px;
    }
    .dropdown-menu{
        top: 85px;
    }
}

@media only screen and (min-width: 1000px) {
    .adlogo img{
        display: none;
    }
    .adlogo{
        flex: 50;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .adtab{
        flex: 1;
    }
    .adtab h2{
        display: none;
    }
    .adlogo .links{
        margin-left: 50px;
        display: block;
        display: flex;
    }
    .dropdown-menu{
        display: none;
    }
    .adhomeheader{
        background: url(img/psu-header-2.png);
    }
    /* .adhomebody{
     background: url('img/psu-bg.png');
    } */
}



/*---------------------------------ADMINANALYTICS.PHP-------------------------*/
.adbodyanalytics{
    /* background-color: lightgreen; */
    flex: 10;
    overflow: hidden;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('https://the-post-assets.sgp1.digitaloceanspaces.com/2022/06/CAMPUS-2-JUNE-24.png');
    background-size: cover;
    background-position: center;
}

.analytics{
    width: 335px;
    height: 445px;
    /* background-color: yellow; */
    margin: 60px 0 10px 0px;
    display: flex;
    flex-direction: column;
}
.analytics-empty{
    height: 900px;
    background-color: red;
}

.analytics-header{
   flex: 1;
   background-color: #80808099;
   display: flex;
   justify-content: flex-start;
   align-items: center;
}
.analytics-header h3{
    margin-left: 10px;
 }
.analytics-footer{
    flex: 9;
    background-color: #ffffff99;
 }

 @media only screen and (min-width: 768px) {
    .analytics-empty{
        height: 600px;
    }
    .analytics{
        width: 450px;
        height: 445px;
    }
 }

 @media only screen and (min-width: 1000px) {
    .analytics-container{
        display: flex;
        /* background-color: red; */
        width: 99%;
        justify-content: space-evenly;
    }
    
    .analytics{
        width: 400px;
        /* height: 445px; */
        /* background-color: yellow; */
        margin: 60px 0 10px 0px;
        display: flex;
        flex-direction: column;
    }
    .analytics-header{
        flex: 1;
        background-color: #80808099;
        display: flex;
        justify-content: center;
        align-items: center;
     }
    
 }
 



/*---------------------------------ADMINSCHEDULE.PHP-------------------------*/

.adbodysched{
    /* background-color: lightgreen; */
    background: url('https://the-post-assets.sgp1.digitaloceanspaces.com/2022/06/CAMPUS-2-JUNE-24.png');
    background-size: cover;
    background-position: center;
    flex: 10;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: scroll;
}

.adschedhead{
    flex: 1;
    /* background-color: cyan; */
    display: flex;
}
.adschedcontent{
    flex: 11;
    /* background-color: coral; */
    overflow: hidden;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.adschedtitle, .adschedsearch{
    flex: 1;
    /* background-color: pink;
    border-left: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.adschedsearch{
    flex: 2;
}
.adschedsearch .search-teach{
    margin-right: 5px;
}
.adschedsearch .search-name{
    height: 30px;
    width: 60%;
    text-indent: 5px;
    border-radius: 3px;
    border: 1px solid gray;
}
.search-teach{
    width: 30%;
    height: 30px;
    border: none;
    font-weight: bold;
    background-color: #269934;
    border-radius: 3px;
    cursor: pointer;
    color: white;
}
.search-teach:hover{
    transition: 0.3s;
    background-color: #38E54D;
}
.instruc-sched{
    /* background-color: green; */
    width: 350px;
    height: 450px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 20px;
}
.instrucheader{
    flex: 1;
    background-color: #80808099;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.instrucbody{
    flex: 9;
    background-color: #ffffff99;
    overflow: hidden;
    overflow-x: scroll;
    display: flex;
    justify-content: center;
}
.instrucheader h3{
    margin-left: 10px;
}

.sched-table, .sched-table tr, .sched-table td{
    border: 1px solid;
    border-collapse: collapse;
    text-align: center;
}
.sched-empty{
    height: 440px;
    background-color: lightgreen;
}

@media only screen and (min-width: 768px) {
    .sched-empty{
        height: 350px;
    }
    .instruc-sched{
        width: 550px;
        height: 550px;
        flex-direction: column;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .adschedtitle, .adschedsearch{
        flex: 1;
    }
    .adschedtitle h3{
        font-size: 25px;
    }
    .adschedsearch .search-name{
        height: 30px;
        text-indent: 10px;
    }
    .adschedhead{
        padding: 0 110px 0;
    }
    .adschedtitle{
        justify-content: flex-start;
    }
    .adschedsearch{
        justify-content: flex-end;
    }
}

@media only screen and (min-width: 1000px) {
    .sched-empty{
        height: 550px;
    }
    .instruc-sched{
        width: 745px;
        height: 550px;
    }
    .adschedsearch .search-name{
        width: 40%;
        text-indent: 5px;
    }
    .adschedhead{
        padding: 0 350px 0;
    }
    .adschedtitle{
        flex: 1;
    }
    .adschedsearch{
        flex: 3;
    }
    
}


/*---------------------------------ADMINADDPERSONAL.PHP-------------------------*/

.admin-add-personal{
    width: 90%;
    height: 80%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
}
.add-instruc-head{
    background-color: #80808099;
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.add-instruc-head h3{
    margin-left: 10px;
}
.add-instruc-body{
    flex: 8;
    background-color: #ffffff99;
    display: flex;
    flex-direction: column;
}
.addpersonal{
    display: flex;
    flex-direction: column;
    /* background-color: coral; */
    /* border-bottom: 1px solid; */
    flex: 1;
}
.addlabel{
    flex: 2;
    /* background-color: aqua; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.addlabel label{
    margin-left: 30px;
}
.addinfo{
    flex: 3;
    /* background-color: magenta; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.addinfo input{
    height: 80%;
    width: 85%;
    border-radius: 3px;
    border: 1px solid gray;
    text-indent: 5px;
}
.add-instruc-footer{
    flex: 1;
    background-color: #ffffff99;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 25px;
}
.add-instruc-footer a{
    height: 80%;
    width: 20%;
    border-radius: 3px;
    border: none;
    background-color: #269934;
    color: white;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2px;
}
.add-instruc-footer a:hover{
    transition: 0.3s;
    background-color: #38E54D;
}

@media only screen and (min-width: 768px) {
    .add-instruc-head h3{
        font-size: 20px;
    }
    .admin-add-personal{
        width: 70%;
        height: 70%;
        /* background-color: aqua; */
        display: flex;
        flex-direction: column;
    }
    .addinfo input{
        height: 60%;
    }
    .addlabel label{
        margin-left: 45px;
        font-size: 20px;
    }
    .add-instruc-footer{
        padding-right: 40px;
    }
    .add-instruc-footer input{
        height: 70%;
    }
}

@media only screen and (min-width: 1000px) {
    .admin-add-personal{
        width: 30%;
        height: 65%;
    }
    .addlabel label{
        margin-left: 30px;
    }
    .add-instruc-footer{
        padding-right: 35px;
    }
    .addinfo input{
        height: 85%;
    }
    
}



/*---------------------------------ADMINADDSCHED.PHP-------------------------*/

.add-schedule{
    width: 90%;
    height: 80%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
}
.add-sched-header{
    background-color: #80808099;
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.add-sched-header h3{
    margin-left: 10px;
}
.add-sched-body{
    flex: 7;
    background-color: #ffffff99;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: scroll;
}
.add-sched{
    height: 45px;
    /* background-color: lightcoral; */
    /* border-bottom: 1px solid; */
    display: flex;
}
.sched-label{
    flex: 1.5;
    /* background-color: orange; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.sched-input{
    flex: 2;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.sched-input select{
    width: 80%;
    height: 80%;
}
.add-sched1 .sched-input select{
    width: 88%;
}
.add-sched1{
    height: 76px;
    /* background-color: #ffffff99; */
    display: flex;
    flex-direction: column;
}
.add-sched-footer{
    flex: 1;
    background-color: #ffffff99;
    display: flex;
    padding-right: 20px;
}
.add-subject{
    flex: 1;
    /* background-color: red; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.add-next{
    flex: 1;
    /* background-color: green; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.add-next a{
    height: 60%;
    width: 80%;
    border-radius: 3px;
    border: none;
    background-color: #269934;
    color: white;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3px;
    cursor: pointer;
    font-size: 13px;
}
.add-subject button{
    height: 60%;
    width: 70%;
    border-radius: 3px;
    border: none;
    background-color: #269934;
    color: white;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3px;
    cursor: pointer;
}

.add-next a:hover{
    transition: 0.3s;
    background-color: #38E54D;
}

.add-subject button:hover{
    transition: 0.3s;
    background-color: #38E54D;
}

@media only screen and (min-width: 768px) {
    .add-schedule{
        width: 70%;
        height: 60%;
    }
    .add-sched{
        height: 57px;
    }
    .add-sched1{
        height: 56px;
        flex-direction: row;
    }
    .add-sched1 .sched-input select{
        width: 80%;
    }
    .add-sched-header h3{
        font-size: 20px;
    }
    .add-sched-footer{
        flex: 1;
        background-color: #ffffff99;
        display: flex;
        padding-right: 32px;
    }
    .add-subject button{
        width: 45%;
    }
    .add-subject{
        flex: 2;
    }
}

@media only screen and (min-width: 1000px) {
    .add-schedule{
        width: 40%;
        height: 80%;
        /* background-color: aqua; */
        display: flex;
        flex-direction: column;
    }
    .add-sched-footer{
        padding-right: 35px;
    }
}




/*---------------------------------ADMINGENCODE.PHP-------------------------*/

.generate-code{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 65%;
    background-color: #ffffff99;
}
.qr-code{
    flex: 5;
    /* background-color: coral; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.download-qr{
    flex: 1;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.download-qr a{
    height: 60%;
    width: 20%;
    border-radius: 3px;
    border: none;
    background-color: #269934;
    color: white;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3px;
    cursor: pointer;
}

.download-qr a:hover{
    transition: 0.3s;
    background-color: #38E54D;
}

.download-qr button{
    height: 60%;
    width: 50%;
    border-radius: 3px;
    border: none;
    background-color: #269934;
    color: white;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3px;
    cursor: pointer;
}

.download-qr button:hover{
    transition: 0.3s;
    background-color: #38E54D;
}

@media only screen and (min-width: 768px) {
    .generate-code{
        width: 50%;
        height: 50%;
    }
}

@media only screen and (min-width: 1000px) {
    .generate-code{
        width: 30%;
        height: 60%;
    }
}